#header{
  width: 100vw;
  height: 20vh;
  background-color: #0067B1;
  display: flex;
  justify-content: space-between;
}
#main{
  display: flex;
  justify-content: center;
  width:100vw;
  height:80vh;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#title{
  height:auto;
  margin-top: auto;
  margin-bottom: auto;
}
#main_site_title{
  width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
}
.left{
  margin-left: 2vw;
}
.title_first_letter{
  color: white;
  font-size: 125%;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}
#middle{
  width: 60vw;
  height:80vh;
  background-color: #f2f2f2;
  text-align: center;
}
#left{
  width: 20vw;
}
#right{
  width:20vw;
}
#middle_title{
  margin-top: 80px;
  font-size: xx-large;
  font-family: "Lucida Console", Monaco, monospace;
}
#intro{
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 150%;
}
#search_or_apply{
  display: flex;
  justify-content: space-around;
}
#searchform{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
#search, #apply{
  border-radius: 25px;
  border: 4px solid #B0B7BC;
}
.application_field_left{
  float: left;
  margin-left: 20px;
  width: auto;
  margin-right: 20px;
}
.application_field_right{
  float:right;
  margin-right: 20px;
  width: auto;
  margin-left: 20px;
}
.business_field{
  height: 21px;
}
.business_field_label{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
  height: 21px;
  text-align:center;
}
.business_app_row{
  display: flex;
}
#Y_N_radio_buttons{
  display: flex;
}
.radio_text{
  vertical-align: middle;
  margin: 3px 3px 0px 5px;
}
.radio{
  vertical-align: middle;
}
.owner_info{
  width:80%;
}
